.recStyle {
  text-align: center;
  font-family: helvetica;
  height: 100px;
  width: 100px;
  padding: 23px;
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #D3D3D3;
  color: black;
  margin: 3px;
  /*border: 3px solid #A3A3A3;*/
  border-radius: 20px;
}
.inputboxes {
  display: block;
  margin: auto;
  text-align: center;
}
