.recStyle {
  text-align: center;
  font-family: helvetica;
  height: 100px;
  width: 100px;
  padding: 23px;
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #D3D3D3;
  color: black;
  margin: 3px;
  /*border: 3px solid #A3A3A3;*/
  border-radius: 20px;
}
/*.OutPut {
  border: none;
  background-color: rgba(245, 245, 245, 0.5);
  width: 700px;
  margin-left: 370px;
  padding-bottom: 50px;
}*/
.inputboxes {
  padding-top: 20px;
  display: block;
  margin: auto;
  text-align: center;
  padding-bottom: 60px;
}

.dealer {
  display: inline-block;
  padding: 20px;
  width: 270px;
  height: 200px;
  margin-top: 10px;
  margin: 0 auto;
  margin-left: 40px;
}

.NotFound {
  text-align: center;
  color: white;
  margin-bottom: 50px;
}
